{% extends "main/base.html" %}

{% block title %} View List {% endblock %}


{% block content %}

    <h1> {{ls.name}}</h1>
    <form method="post" action="#">
        {% csrf_token %}
        {% for item in ls.item_set.all %}
        <div class="input_group">
            <div class="input_div">
                
                    {% if item.complete == True %}
                        <input class="todo_list" type="checkbox", value="clicked", name="c{{item.id}}" checked>
                    {% else %}
                        <input class="todo_list" type="checkbox", value="clicked", name="c{{item.id}}">
                    {% endif %}
                
            </div>
            <input type="text", value="{{item.text}}" class="form_control">  
        </div>
        {% endfor %}
        <button type="submit", name="save", value="save">Save</button><br />
        <input type="text", name="new" />
        <button type="submit", name="newItem", value="newItem">New Item</button>
    </form
    
{% endblock %}